.mediaViewInfo {
	--web-view-name: page 1;
	--web-view-id: page_1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: page_1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#page_1 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: page 1;
	--web-view-id: page_1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Rectangle_1 {
	fill: rgba(19,219,198,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	filter: drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 396px;
	height: 126px;
	left: 461px;
	top: 495px;
	transition: all 0.2s ease-in-out;
	--web-animation: fadein 0.2s ease-in-out;
	--web-action-type: page;
	--web-action-target: page2.html;
	cursor: pointer;
}
#Rectangle_2 {
	fill: rgba(64,19,219,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	filter: drop-shadow(0px 12px 12px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 396px;
	height: 126px;
	left: 1099px;
	top: 495px;
}
#POPUP_1 {
	left: 592px;
	top: 524px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#POPUP_2 {
	left: 1230px;
	top: 524px;
	position: absolute;
	overflow: visible;
	width: 99px;
	white-space: nowrap;
	text-align: center;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}